﻿@model Fizz_Buzz.Models.FizzBuzzModel
@{
    ViewBag.Title = "Fizz Buzz";

}

<h1>FIZZ BUZZ</h1>
<br />
@using (Html.BeginForm("GetFizzBuzz", "FizzBuzz", FormMethod.Post))
{
    <table class="default1">
        <tr>
            <td> Enter a Number</td>
            <td> @Html.TextBoxFor(m => m.FizzBuzzCount)  </td>
            <td>@Html.ValidationMessageFor(m=>m.FizzBuzzCount) </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" id="btnSubmit" value="Submit" /></td>
        </tr>
    </table>
}
