﻿@using Fizz_Buzz.Models;
@model IList<Fizz_Buzz.Models.IFizzBuzzItem>
@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <h2>FizzBuzz </h2>
    
    <table class="result">

        @{
            foreach (var fizzBuzzItem in Model)
            {
        <tr>            
            <td class="resultth"><label title="@fizzBuzzItem.Text" style="color:@fizzBuzzItem.Color.Name">@fizzBuzzItem.Text</label></td>
        </tr>

            }
        }

    </table>
 }
